@charset "utf-8";
/* CSS Document */

.ads-728X90 {
	width:720px;
	height:auto;
	
}
.ads-468X60 {
	width:468px;
	height:auto;
	
}
.ads-234X60 {
	width:234px;
	height:auto;
	
}
.ads-300X600 {
	width:300px;
	height:auto;
	
}
.ads-300X250 {
	width:300px;
	height:auto;
	
}
.ads-120X600 {
	width:120px;
	height:auto;
	
}
.ads-160X600 {
	width:160px;
	height:auto;
	
}
.ads-125X125 {
	width:125px;
	height:auto;
	
}
.ads-180X150 {
	width:180px;
	height:auto;
	
}
.ads-120X240 {
	width:120px;
	height:auto;
	
}
.ads-336X280 {
	width:336px;
	height:auto;
	
}
.ads-200X200 {
	width:200px;
	height:auto;
	
}
.ads-250X250 {
	width:250px;
	height:auto;
	
}