@charset "utf-8";
/* CSS Document */

.ads-728X90 {
	width:720px;
	height:90px;
	margin:5px auto;
}
.ads-468X60 {
	width:468px;
	height:60px;
	margin:5px auto;
}
.ads-234X60 {
	width:234px;
	height:60px;
	margin:5px auto;
}
.ads-300X600 {
	width:300px;
	height:600px;
	margin:5px auto;
}
.ads-300X250 {
	width:300px;
	height:250px;
	margin:5px auto;
}
.ads-120X600 {
	width:120px;
	height:600px;
	margin:5px auto;
}
.ads-160X600 {
	width:160px;
	height:600px;
	margin:5px auto;
}
.ads-125X125 {
	width:125px;
	height:125px;
	margin:5px auto;
}
.ads-180X150 {
	width:180px;
	height:150px;
	margin:5px auto;
}
.ads-120X240 {
	width:120px;
	height:240px;
	margin:5px auto;
}
.ads-336X280 {
	width:336px;
	height:280px;
	margin:5px auto;
}
.ads-200X200 {
	width:200px;
	height:200px;
	margin:5px auto;
}
.ads-250X250 {
	width:250px;
	height:250px;
	margin:5px auto;
}