@charset "utf-8";

/*-------------------------COMMON-----------------------------*/

/*div{border: solid 1px #828282;}*/
div,h1,h2,h3,h4,h5,h6,p,ul{	margin:0;	padding:0; }
.clearBoth{	clear: both;}
.fillDiv{background-color: #e1e1e1; border: solid 1px #828282; display: block; height: 60px;}
.floatLeft{float:left;}
.floatRight{float: right;}
.defaultBlue{color:#47c7f4;}
.defaultGreen{color:#36dabd;}
body{ background:#e6e6e6; font:12px;  }


.centerFix{	text-align: center;	margin:0 auto;}
.leftFix{ padding-left: 10px; margin-left: 28px;}
.top40{	padding-top: 36px;}
.ipl-up10{margin-top: -10px;}


.ipl-maintitle{
	height: 25px;
	background-color: #e6e6e6;
	color: #ffffff;
	text-align: center;
	padding-top: 8px;
}

.ipl-header{
	padding-top: 0px;
	/*background-color: #282828;*/
	/*border-top: solid 3px #c14343;
	border-bottom: solid 1px #121212;*/
	height: 225px;

}

.ipl-logo{	height: 225px; margin-left: 5px;}
.ipl-logo-inner1{  height: 105px; background:#65100a; padding-top: 5px; margin-right: -20px; }
.ipl-logo-inner2{  height: 112px; background:#19398a;  margin-right: 0px; display: block; padding-top: 14px; border-bottom: 1px solid #e6e6e6;}
.ipl-logo1{	background:transparent url(../Images/logos.png) no-repeat;	background-position: 0 -78px;	margin: 0 auto;	width:153px;	height: 88px;}
.ipl-logo2{	background:transparent url(../Images/ipl-logo.png) no-repeat;	width: 136px;	height: 42px;	margin: 0 auto; margin-top: 30px;	}



	.ipl-crossword-btn{ background-color: #3757a8 ;
						
						width: 100%;
						height: 110px;
						margin-bottom: 5px;
						display: block;	
						cursor:pointer;
						

						}
.ipl-crossword-btn:hover{
							background-color: #5271c1;
						}
						.ipl-quiz-btn{ background-color: #284389 ;
						display: block;
						width: 100%;
						height: 110px;	
						cursor: pointer;
						}

						.ipl-quiz-btn:hover{
							background-color: #5271c1;
						}

     .ipl-crs-text{
	background:transparent url(../Images/ipl-icons.png) no-repeat right top; 
	background-position: 0 -543px;
	width: 10px;
	height: 20px;
	margin-top: 12px;
	display: inline-block;
	float: left;
}

     .ipl-crossword-btn-bg{
     	float: right;
     	padding-right: 10px;
     	margin-top: 10px;
     	background:transparent url(../Images/ipl-icons.png) no-repeat left top; 
     	background-position: 0 -590px;	
     	width:135px;
     	height: 66px;
     }		
     .ipl-quiz-btn-bg{
     	float: right;
     	padding-right: 10px;
     	margin-top: 0px;
     	background:transparent url(../Images/ipl-icons.png) no-repeat left top; 
     	background-position: 0 -656px;	
     	width:135px;
     	height: 76px;
     }					

.ipl-logo1{	background:transparent url(../Images/logos.png) no-repeat left top;	background-position: 0 -78px;	margin: 0 auto;	width:153px;	height: 88px;}					

	.ipl-crossword-btn p{ color: #ffffff; font-size: 18px; padding-top: 10px; padding-left: 10px; width: 89px; height: 23px; display: block; float: left;}						
	
	.ipl-quiz-btn p{ color: #ffffff; font-size: 18px; padding-top: 10px; padding-left: 10px; width:44px; height: 23px; display: block; float: left;}	

.ipl-scoreboard{
	background-color: #282828;
	border-right:solid 1px #424242;
	border-left:solid 1px #424242;
	height: 225px;
	position: relative;
	display: block;
	padding-left: 14px;
}

.ipl-teams{
	list-style-type: none;
	padding-top: 10px;
	padding-left:10px;
	width: 100%;
	height: 225px;
	position: relative;
	background-color: #282828;
	overflow: hidden;
	text-align: right;	
}

.ipl-header3{
	margin-left: 5px;
	overflow: hidden;
	position: relative;
	height: 225px;
	width:233px;
}
/*----------------------------------------------------IPL RANKINGS-----------------------------*/

.ipl-ranking-title{

	width: 200px;
	height: 22px;
	text-align: center;
	margin: 0 auto;
	color: #ffd942;
}
.ipl-ranking-title h4{
	color: #ffd942;
}

.ipl-teams-badge{
	
	background-color: #3f65c2;
	text-align: center;
	border: solid 2px #fff;
	width: 21px;
	height: 21px;
	border-radius: 12px;
	color: #fff;
	font-weight: bold;
	margin-top: 28px;
	margin-left: 28px;
}

.ipl-teams-badge p{
	padding-top: 0px;
}

.ipl-CSK, .ipl-KKR, .ipl-RCB, .ipl-MI, .ipl-DD, .ipl-KXIP, .ipl-PWI, .ipl-RR, .ipl-SH, .ipl-DC{ width:65px;	height: 60px;}

.ipl-CSK{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 0px; }
.ipl-KKR{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -62px; }
.ipl-RCB{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -124px; }
.ipl-MI{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -186px; }
.ipl-DD{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -248px; }
.ipl-KXIP{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -310px; }								
.ipl-PWI{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -372px; }
.ipl-RR{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -434px; }
.ipl-SH{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -496px; }	
.ipl-DC{		background:transparent url(../Images/ipl-flags.png) no-repeat;	background-position: 0 -496px; }	



/*-----------------------------------------------------------------IPL Points table-----------------------------*/

.ipl-pts{
	height: 225px;
	background-color: #282828;
	display: block;
	position: absolute;
	margin: 0 auto;
	margin-right: 0px;
	width: 100%;
	text-align: right;
}

.ipl-pts p{
	padding-top: 5px;
	color: #929292;
	font-size: 8px;
	float: left;
	padding-left: 10px;
}



.ipl-pts a{

	color: #ffffff;
	font-size: 13px;
	padding-right: 15px;
	line-height: 18px;
	display: block;
	padding-top: 5px;

}

.ipl-pts a:hover{
	color: #ffffff;
	text-decoration: underline;

}

.ipl-pts table{
	width: 100%;
	border-collapse:collapse;
	
	text-align: center;
	color: #ffffff;
}

.ipl-pts th{
	background-color: #65100a;
	font-size: 11px;
}

.ipl-pts td{
	background-color: #383838;
	font-size: 10px;
	line-height: 16px;
	border-spacing: 0px;
}

.ipl-pts tr{
	height: 18px;
	
}




.ipl-pts tr.ipl-table-c1 td{background-color: #383838; }
.ipl-pts tr.ipl-table-c2 td{background-color: #545454; color: #ffffff;}
	

.ipl-pts table,th, td{
border: 1px solid #282828;
}


/*---------------------------------------------------------------Scoreboard---------------------------------*/

.ipl-sb-vs{
	margin-top:-40px; color:#f4f4f4; background-color:#282828; width:30px; height:20px; margin-left:44px; text-align: center;

}


.ipl-sb-flag, .ipl-sb-score, .ipl-sb-striker, .ipl-sb-runner{
	padding-top: 10px;
}
.ipl-scoreboard h4,h5,h6{ font-family: 'squareBT','PT Sans Narrow', sans-serif;}

.ipl-team2-flag2{
	padding-top: 0px;
}

.ipl-sb-team{

	border-top: solid 1px #525252;
	height: 100px;
	margin-left: -10px;
}

.ipl-sb-team2{ 
	padding-top: 20px;
	border-top: solid 1px #525252;
	height: 100px;
	margin-left: -10px;
}
.ipl-sb-flag{
	text-align: right;
	height: 100px;
}

	.ipl-sb-flag h3{
		color: #ffffff;
		width: 25px;
		height: 22px;
		padding-right: 5px;
		padding-left: 5px;

	}

.ipl-matchState{
	text-align: center;
	width: 350px;
	height: 22px;
	padding-top: 4px;
	padding-left: 5px;
	color: #ffd942;
	font-size: 14px;
	float: left;
}
	
.ipl-sb-score{
	height: 100px;
	text-align: center;
	width: 160px;
	display: block;
	margin: 0 auto;
}


		.ipl-sb-score h3{
			color: #ffffff;
			font-size: 16px;
			font-weight: normal;

		}

		.ipl-sb-score h4{
			color: #ffd942;
			font-size: 14px;
			font-weight: normal;
			
		}


.ipl-sb-striker{
	clear: both;
	height: 100px;
	text-align: center;
}	

.ipl-sb-striker-inner{
	text-align: center;
	line-height: 16px;

}

.ipl-sb-bowler{
	padding-top: 10px;
	height: 80px;
	text-align: center;
}

.ipl-bowler-lname{
	color: #ffffff;
	padding-top: 5px;
	font-size: 11px;
}

.ipl-sb-bowler-inner{
	text-align: center;
	float: left;
	width: 25px;
	line-height: 16px;
}

.ipl-sb-striker-SET{

	clear: both;
	width: 102px;
	height: 40px;
	margin: 0 auto;
}

.ipl-sb-bowler-SET{

	clear: both;
	width: 102px;
	height: 40px;
	margin: 0 auto;
}

.ipl-sb-inner{
	float: left;

}



.ipl-batsman, .ipl-bowler, .ipl-runner{float: left;	margin-top: 20px; background-repeat: no-repeat; background-image: url(../Images/icons-ls.png);}
.ipl-batsman {	background-position: 0 0; width: 20px; height: 30px;}
.ipl-runner {	background-position: 0 -163px; width: 17px; height: 36px;}
.ipl-bowler {	background-position: 0 -80px; width: 18px; height: 33px;}
.ipl-bowler {margin-top: 0px; }

.ipl-sb-rr, .ipl-sb-striker-inner{
	text-align: center;
	border-top: solid 1px #424242;
	padding-top: 5px;
	margin-top: 5px;
}


		.ipl-sb-team h3{	color: #ffd942;	font-size: 16px; font-weight: normal;}
		.ipl-sb-team h4{	color: #ffffff;	font-size: 15px; font-weight: normal;}
		.ipl-sb-team h5{	color: #ffd942;	font-size: 14px; font-weight: normal;}
		.ipl-sb-team h6{	color: #ffffff;	font-size: 12px; font-weight: normal;}
		.ipl-sb-team2 h3{	color: #ffd942;	font-size: 16px; font-weight: normal;}
		.ipl-sb-team2 h4{	color: #ffffff;	font-size: 15px; font-weight: normal;}
		.ipl-sb-team2 h5{	color: #ffd942;	font-size: 14px; font-weight: normal;}
		.ipl-sb-team2 h6{	color: #ffffff;	font-size: 12px; font-weight: normal;}

.ipl-sb-runner{
	
	height: 100px;
	text-align: center;
}

.ipl-forumIntro{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}


.ipl-sb-inner-bowler{
	padding-left: 40px;
}

.ipl-sb-bowlser-SET{
	float:left; 
	padding-left:20px;
	padding-top: 10px;
}

/***************************************************************CONTENT SECTION COMMON**************/

.ipl-content{
	padding-top: 20px;
}



.ipl-cards-title{
	background:transparent url(../Images/ipl-icons.png) no-repeat;
	height: 40px; 

}
.ipl-cards-title h3{
	font-family:Tahoma;
	font-weight: normal;
	padding-top: 10px;	
	padding-left: 45px;
	font-size: 16px;
}

.ipl-cards-content{
	text-align: center;
		display: block;
		background-color: #ffffff;
		height: 300px;	
}

.ipl-news-arrow{	visibility: hidden;}
.ipl-news-date{
	text-align: right;	
	font-size: 12px;
	color: #828282;
}
.bg-blue{ display: none; }
.ipl-cards1{	height: 400px;	min-width: 160px; background-color: #e6e6e6;}
.ipl-cards1:hover .ipl-news-arrow {visibility: visible; }
.ipl-cards1:hover .bg-blue{display: block; }

.ipl-schedule-arrow{	visibility: hidden;}
.bg-orange{ visibility: hidden; }
.ipl-cards2{	height: 400px;	min-width: 160px; overflow: hidden; display: block;} 
.ipl-cards2:hover .ipl-schedule-arrow {visibility: visible; }
.ipl-cards2:hover .bg-orange{visibility: visible; }


.ipl-forums-arrow{	visibility: hidden;}
.bg-red{ visibility: hidden; }

.ipl-cards3{	height: 400px;	min-width: 160px; }

.ipl-cards3 p{ font-size: 18px; padding-left:10px; padding-right:10px; padding-top: 10px;  }

.ipl-cards3:hover .ipl-forums-arrow {visibility: visible; }
.ipl-cards3:hover .bg-red{visibility: visible; }
.ipl-cards3-inner{
	height: 36px;
}

.ipl-photos-arrow{	visibility: hidden;}
.bg-pink{ visibility: hidden; }
.ipl-cards4{	height: 400px;	min-width: 160px;}
.ipl-cards4:hover .ipl-photos-arrow {visibility: visible; }
.ipl-cards4:hover .bg-pink{visibility: visible; }

.ipl-cards4 h4{
	padding:0px;
	margin-top:-20px;
}

.ipl-photo-title{
	text-align: center;
	margin-top: -10px;
	height: 25px;

}



.ipl-photo-photo{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	text-align: center;
	display: block;
	border-bottom: solid 1px #e1e1e1;	

}

.ipl-photo-desc{

	display: block;
	padding-top: 10px;

}

.ipl-polls-arrow{	visibility: hidden;}
.bg-violet{ visibility: hidden; }
.ipl-cards5{	height: 400px;	min-width: 160px;}
.ipl-cards5:hover .ipl-polls-arrow {visibility: visible; }
.ipl-cards5:hover .bg-violet{visibility: visible; }


.ipl-cards2{	height: 400px;	min-width: 160px;}
.ipl-cards3{	height: 400px;	min-width: 160px;}
.ipl-cards4{	height: 400px;	min-width: 160px;}
.ipl-cards5{	height: 400px;	min-width: 160px;}

 
  .ipl-cards1,   .ipl-cards4, .ipl-cards5, .ipl-cards3{padding-left: 9px; width: 24%;/*width: 19%;*/ float:left;}

	.ipl-cards2{ width: 24%; float: left;}

.ipl-news{	color: #20baff;	background-position: 0 0px;	border-bottom: solid 8px #20baff;}
.ipl-schedule{	color: #ff7e00;	background-position: 0 -40px;	border-bottom: solid 8px #ff7e00;}
.ipl-forums{	color: #994141;	background-position: 0 -80px;	border-bottom: solid 8px #994141;}
.ipl-photos{	color: #f955d0;	background-position: 0 -120px;	border-bottom: solid 8px #f955d0;}
.ipl-polls{	color: #784a9f;	background-position: 0 -160px;	border-bottom: solid 8px #784a9f;}

.ipl-news h3{color: #20baff; font-weight: bold;	}
.ipl-schedule h3{color: #ff7e00; font-weight: bold;	}
.ipl-forums h3{color: #994141; font-weight: bold;	}
.ipl-photos h3{color: #f955d0; font-weight: bold;	}
.ipl-polls h3{color: #784a9f; font-weight: bold;	}

.ipl-news-footer{	border-top: solid 1px #20baff;}
.ipl-schedule-footer{border-top: solid 1px #ff7e00;}
.ipl-forums-footer{	border-top: solid 1px #994141;}
.ipl-photos-footer{	border-top: solid 1px #f955d0;}
.ipl-polls-footer{border-top: solid 1px #784a9f;}

.ipl-arrow{background:#282828 url(../Images/ipl-icons.png) no-repeat left top; width: 12px; height: 20px; display: block; margin-top: 95px; margin-right: 4px;}
.ipl-arrow{ background-position: 0 -201px; }

.ipl-news-arrow, .ipl-schedule-arrow, .ipl-forums-arrow, .ipl-photos-arrow, .ipl-polls-arrow {background:transparent url(../Images/ipl-icons.png) no-repeat left top;  width: 38px; height: 38px; border-radius: 20px; margin: 0 auto; margin-top: 8px;}
.ipl-news-arrow{ background-position: 0 -418px; background-color:#20baff;}
.ipl-schedule-arrow{background-position: 0 -418px; background-color:#ff7e00;}
.ipl-forums-arrow{background-position: 0 -418px; background-color:#994141;}
.ipl-photos-arrow{background-position: 0 -418px; background-color:#f955d0;}
.ipl-polls-arrow{background-position: 0 -418px; background-color:#784a9f;}


.ipl-news-arrow:hover{  background-color:#15a8ea; cursor: pointer; }
.ipl-schedule-arrow:hover{ background-color:#e1760d; cursor: pointer;}
.ipl-forums-arrow:hover{ background-color:#803131; cursor: pointer;}
.ipl-photos-arrow:hover{ background-color:#dc42b5; cursor: pointer;}
.ipl-polls-arrow:hover{ background-color:#65398b; cursor: pointer;}

.bg-blue, .bg-orange, .bg-red, .bg-pink, .bg-violet {background:transparent url(../Images/ipl-icons.png) no-repeat right top; width:100px; height: 34px; float: right; margin-right: -8px; margin-top: -5px; }
.bg-blue	{background-position: 0 -224px;}
.bg-orange	{background-position: 0 -262px;}
.bg-red		{background-position: 0 -302px;}
.bg-pink	{background-position: 0 -342px;}
.bg-violet	{background-position: 0 -382px;}


.ipl-polls-answer{
	margin-top: 10px;
	display: block;
}


/***************************************************************NEWS & FORUMS**************/

.ipl-news-content{
	list-style-type: none;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

.ipl-news-repeat{
	padding-bottom: 4px;
	padding-top: 4px;
	border-bottom: solid 1px #a5dbf2;
}

.ipl-news-repeat a{	color: #20baff; }
.ipl-news-repeat a:hover{color: #20baff; text-decoration: none; cursor: pointer; line-height: 16px;}

.ipl-cards-content h4{ color: #828282; text-align: center; padding-top: 10px; padding-bottom: 20px;  margin:0 auto;}

/***************************************************************SCHEDULE**************/
.ipl-cards-content-inner{
padding-left: 8px;
padding-right: 8px;
}

.ipl-schedule-title{
	clear: both;
	margin: 0 auto;
	text-align: center;	

}

.ipl-schedule-title h4{
padding-top: 10px;
color: #ff7e00; !Important

}

.ipl-schedule-content{

	width: 156px;
	margin: 0 auto;
	margin-top: -10px;
	text-align: center;	
	

}
.ipl-schedule-content p{

	float: left;
	padding-right: 10px;	
	padding-top: 10px;
}
.ipl-schedule-match {
	vertical-align: middle;
	text-align: center;
}

.ipl-schedule-match p{
	color: #626262;
	line-height: 18px;
	clear:both;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #f0c294;
}

.ipl-schedule-venue{
	
	text-align: center;
}
.ipl-schedule-venue p{
	color: #626262;
	line-height: 18px;
	clear:both;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px #f0c294;

}

.ipl-schedule-50{
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
}



/***************************************************************PHOTOS**************/

.ipl-photo-content p{
	line-height: 18px;
}

.ipl-photo-content ul{
	list-style-type: none;
	padding: 0px;
	padding-top: 0px;
}

.ipl-photo-content ul li{
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
	background-color: #323232;
	border: solid 1px #000000;
	padding: 0px;
	border: none;

}


.ipl-photo{
	background-color: #f4f4f4;
	border: solid 1px #e1e1e1;
	margin: 0 auto;
	width:160px;
	height: 110px;
}
.ipl-photo-content{
	padding: 20px;
	padding-top: 0px;
	margin: 0 auto;
	text-align: left;
}

/***************************************************************POLLS**************/
.ipl-polls-content{
	padding: 10px;
	padding-top: 0px;
	margin: 0 auto;
	text-align: left;
}


/***************************************************************FOOTER**************/
.ipl-footer{

	height: 60px; 
	border-top: solid 1px #a2a2a2;
	padding-top: 20px;
}
.ipl-footer-logo{
	display: inline-block;
	float: right;
	margin-top: -20px;
	background-image: url(../Images/logos.png);
	background-position: 0 0;
	width: 258px;
	height: 28px;
	margin-right: 35px;
}

.ipl-polls-content input[type="radio"] {
    display:none;
}

.ipl-polls-content input[type="radio"] + label {
    color:#828282;
    font-family:Arial, sans-serif;
    font-size:14px;
}

.ipl-polls-content input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../Images/ipl_radioBtn.png) -38px top no-repeat;
    cursor:pointer;
}

.ipl-polls-content input[type="radio"]:checked + label span {
    background:url(../Images/ipl_radioBtn.png) -57px top no-repeat;
}

.ipl-button{
display: block;	
	margin: 0 auto; 
	margin-top: 10px;	
	border-radius: 0px;		
	border: solid 1px #65398b; 
	text-align: center;  
	padding: 6px; 
	padding-top: 4px;	
	background:#784a9f;	
	color: #ffffff;	
	height: 30px; width: 80px;  font-size: 12px;}

.ipl-button:hover{	background:#65398b;}

.ipl-button2{ margin-top: 20px;	border-radius: 0px;		border: solid 1px #803131; text-align: center;  padding: 6px; padding-top: 4px;	background:#994141;	color: #ffffff;	height: 30px; width: 120px;	font-size: 12px;}
.ipl-button2:hover{	background:#803131;}


.ipl-button3{
display: block;	
	margin-left: 20px;
	width: 110px;
	margin-top: 12px;	
	border-radius: 0px;		
	border: solid 1px #132f76; 
	text-align: center;  
	padding: 6px; 
	padding-top: 4px;	
	background:#19398A;	
	color: #ffffff;	
	height: 30px;
	 font-size: 12px;}

.ipl-button3:hover{	background:#132f76;}

/*---------------------------------------------- Landscape phone to portrait tablet -----------------------------------------*/


@media (max-width: 767px){


.ipl-ads2{	display: none;}

.ipl-ads{  	margin-top: 20px;
	display: block;
	border: solid 1px #a2a2a2;
	
	width: 200px; 
	background-color: #232323;}

}

.ipl-ads{
	margin-top: 10px;
	margin-bottom: 10px;
	background: transparent;
	/*border: solid 1px #a2a2a2;*/
	
	display: block;
	text-align: center;
	padding-top: 4px;
}

.ipl-polls-question{
	color:#784a9f;
	font-weight: bold;
	border-bottom: solid 1px #e1e1e1;
	padding-bottom: 5px;
	margin-bottom: 8px;
}

#poll_answer{

	color:#626262;
}

.ipl-header-stats{
	display: none;
	background-color: #adadad;
	width: 58%;
	top: 27px;
	right: 0px;
	height: 199px;
	position: absolute;
}

.ipl-header-stats table{
	border-collapse:collapse;
		
	border: solid 1px #adadad;
}

.ipl-header-stats-cell{
}

.ipl-header-stats tr{
	height: 64px;
}

.ipl-header-stats td{
	border: solid 1px #adadad;
	text-align: right;
	padding-right: 10px;
	width: 33.3333333%;
}

.ipl-header-stats td h4{
		font-family: Helvetica;
		font-size: 13px;
		text-transform: none;
		margin-top: 5px;
		color: #ffffff;
}

.ipl-header-stats td p{
		
		
		color: #ffffff;
	
}

.ipl-font12{
	font-size: 14px;
}
.ipl-font24{
	font-size: 24px;
}
.ipl-font18{
	font-size: 18px;
}

.clbl1{ background-color: #456cd0;}
.clbl2{ background-color: #3457b0;}
.clbl3{ background-color: #304d95;}
.clbl4{ background-color: #5e85ea;}
.clbl5{ background-color: #304d95;}
.clbl6{ background-color: #456cd0;}
.clbl7{ background-color: #456cd0;}
.clbl8{ background-color: #3457b0;}
.clbl9{ background-color: #3457b0; cursor: pointer;}

.clbl9:hover{
	background-color: #5c7cd1;
}

.clbl9 a{
	font-size: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	padding-right: 5px;
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
	height: 20px;
	width: 50px;
}

.clbl9 a:hover{

	text-decoration: underline;
	color: #ffffff;
	cursor: pointer;
}

.ipl-arrow-right{
	background:transparent url(../Images/ipl-icons.png) no-repeat right top; 
	background-position: 0 -543px;
	width: 10px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-top: 2px;
}
.ipl-photo-title h4{
	font-size: 16px;
	color: #f955d0; !Important
}

.ipl-cards3{
	display:none;
	
}


/*--IPL Stats Grid--*/
.ipl-stats-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ipl-stats-grid:after,
.ipl-stats-item:before {
    content: '';
    display: table;
}
 
.ipl-stats-grid:after {
    clear: both;
}
 
.ipl-stats-grid .team-block {
    width: 172px;
		height:318px;
    display: inline-block;
    margin: 10px 5px;
		padding:0px;
		background:#FFF;
		border:1px solid #c5c5c5;
		transition:all 0.2s ease-in-out;
		overflow:hidden;
}
.ipl-stats-grid .team-block:hover,.ipl-stats-grid .team-block:hover .team-stats{
	box-shadow:inset 0 0 8px rgba(0,0,0,0.3);
	transition:all 0.2s ease-in-out;
}
	
.team-block div[class^="ipl-"] {
	width:50px;
	height:48px;
	margin:15px auto 15px auto;
	border:2px solid rgba(255,255,255,0.4);
	box-shadow:0 0 3px rgba(0,0,0,0.3);
}
.team-block h4{
	font-size:16px;
	text-align:left;
	margin:5px 5px 5px 15px;
	color:#545454;
	text-transform:none;
}
.team-block h5{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
	color:#a82e0f;
}
.team-stats{
	margin:5px 0 0 0;
	padding:15px;
    height: 136px;

}
.team-stats h5{
	text-shadow:1px 1px 3px rgba(0,0,0,0.5);
	color:#FFF;
	font-size:13px;
	font-weight:normal;
}
.team-stats h4{
	text-transform:uppercase;
	margin-left:0;
	color:#FFF;
	text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
.CSK .team-stats {
	background:#f4b228;
	border-bottom:2px solid #f1901d;
}
.MI .team-stats {
	background:#00aeef;
	border-bottom:2px solid #00719e;
}
.RCB .team-stats {
	background:#f1901d;
	border-bottom:2px solid #f1681d;
}
.DD .team-stats {
	background:#b22e2a;
	border-bottom:2px solid #891814;
}
.KXIP .team-stats {
	background:#da1f3d;
	border-bottom:2px solid #8b0c20;
}
.PWI .team-stats {
	background:#00719e;
	border-bottom:2px solid #083e54;
}
.RR .team-stats {
	background:#004b8c;
	border-bottom:2px solid #0b3050;
}
.KKR .team-stats {
	background:#6f2c91;
	border-bottom:2px solid #340d47;
}
.DC .team-stats {
	background:#fdb913;
	border-bottom:2px solid #d8720e;
}
.SH .team-stats {
	background:#fdb913;
	border-bottom:2px solid #d8720e;
}

/*========IPL Statistics four column list ===========*/
/*.ipl-stats-columns ul{
	height:400px;
	overflow-x:hidden;
	overflow-y:auto:
}*/
.ipl-stats-columns ul li{
	list-style:none;
	padding:10px;
	box-sizing:border-box;
	border:1px solid #bebebe;
	border-top:none;
	background:#FFF;
	transition:box-shadow 0.2s ease-in-out;
}
.ipl-stats-columns ul li:hover{
	box-shadow:inset 0 0 6px rgba(0,0,0,0.25);
	transition:box-shadow 0.2s ease-in-out;
}
.ipl-stats-columns h5{
	font-family:"squareBT";
	font-size:16px;
	text-transform:none;
	font-weight:normal;
	color:#444;
}
.ipl-stats-columns ul li .details{
	float:left;
	cursor:pointer;
}

.ipl-stats-columns .heading h4{
	color:#FFF;
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
	font-size:16px;
}

.ipl-stats-columns .rank{
	color:#444;
	padding:10px;
	font-size:26px;
	font-family:"SquareBT";
	margin-right:10px;
	margin-left:5px;
	float:left;
	width:25px;
	font-size:20px;
	transition:all 0.2s ease-in-out;
}
.ipl-stats-columns .first .rank{
	padding:10px;
	color:#FFF;
	font-size:24px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
}
.ipl-stats-columns input[type="search"]{
	margin:0;
}
.ipl-stats-columns .search{
	border-bottom:none;
}
.orange-cap .first .rank{
	background:#f25a29;
}
.ipl-stats-columns .orange-cap ul .heading{
	background:#f25a29;
	border:1px solid #f76739;
}
.max-sixes .first .rank{
	background:#edb520;
}
.ipl-stats-columns .max-sixes ul .heading{
	background:#edb520;
	border:1px solid #f3c039;
}
.high-score .first .rank{
	background:#829f29;
}
.ipl-stats-columns .high-score ul .heading{
	background:#829f29;
	border:1px solid #a1c23c;
}
.high-strike .first .rank{
	background:#2594c9;
}
.ipl-stats-columns .high-strike ul .heading{
	background:#2594c9;
	border:1px solid #4ab3e5;
}
.orange-cap ul li:hover .rank{
	background:#f25a29;
	color:#FFF !important;
	transition:all 0.2s ease-in-out;
}
.max-sixes ul li:hover .rank{
	background:#edb520;
	color:#FFF !important;
	transition:all 0.2s ease-in-out;
}
.high-score ul li:hover .rank{
	background:#829f29;
	color:#FFF !important;
	transition:all 0.2s ease-in-out;
}
.high-strike ul li:hover .rank{
	background:#2594c9;
	color:#FFF !important;
	transition:all 0.2s ease-in-out;
}
/*====IPL Stats Popout====*/

.ipl-statout{
 width: 425px;
 height: 300px;
 /*background-color: #282828;*/
 display: none;
 position:absolute;
 z-index: 999;
 left:220px;
 top:-133px;
 text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					box-shadow:0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(255, 255, 255, 0.05);
}

.ipl-statout-title{
 width: 320px;
 display: block;
 height:40px;
 float: left;
 padding-top: 20px;
 padding-left: 20px;
}

.ipl-statout-title p, h4{
 color: #444;
}

.ipl-statout-spacer{

 margin-top: 10px;
 margin-left: 10px;
}

.ipl-statout table tr{
 height: 68px;
}
.ipl-statout table tr p{
	font-family:"squareBT";
	font-weight:normal;
	font-size:24px;
}
.ipl-statout table tr td{
 border: solid 3px #282828;
 width: 33.36%;
}

.ipl-statout-table{
 padding-left: 10px;
 padding-right: 10px;
 position:absolute;
 top:75px;
 width:95%;
}

.ipl-statout-table p{
 font-size: 26px;
 color: #ffffff;
 float: right;
 padding-right: 10px;
 margin-top: 0px;
}

.ipl-statout-table h4{
 font-size: 16px;
 color: #f4f4f4;
 float: left;
 padding-left: 8px;
 padding-top: 25px;

}

.ipl-floatLeft{
 float: left;
}

.ipl-statout-down{
 padding-top: 6px;
}
.ipl-statout-leftarrow{background:transparent url(../Images/ipl-icons.png) no-repeat left top; width: 17px; height: 24px; display: block; margin-left: -17px; top:50%; position: absolute;}
.ipl-statout-leftarrow{ background-position: 0 -560px; }

.ipl-statout-rightarrow{background:transparent url(../Images/ipl-icons.png) no-repeat left top; width: 17px; height: 24px; display: block;}
.ipl-statout-rightarrow{ background-position: -17 -560px; }

.ipl_stats_list{
	position:relative;
}

.clbl1{ background-color: #456cd0;}
.clbl2{ background-color: #3457b0;}
.clbl3{ background-color: #304d95;}
.clbl4{ background-color: #5e85ea;}
.clbl5{ background-color: #304d95;}
.clbl6{ background-color: #456cd0;}
.clbl7{ background-color: #456cd0;}
.clbl8{ background-color: #3457b0;}

/*---Settings Icon---*/

.ipl-settings-icon{
	width: 27px;
	height: 27px;
	padding: 5px;
	margin: -10px -10px 0 0;
	background-image: url(../Images/settings.png);
	background-repeat: no-repeat;
	background-position: center center;
	transition:all 0.2s ease-in-out;
	cursor:pointer;
}
.ipl-settings-icon:hover{
	box-shadow:inset 0 2px 5px rgba(51,51,51,0.4);
	background-color:#FFF;
	transition:all 0.2s ease-in-out;
}
/*.max-sixes .ipl-settings-icon:hover{
	background-color:#f77e3c;
	transition:all 0.2s ease-in-out;
}
.high-score .ipl-settings-icon:hover{
	background-color:#f77e3c;
	transition:all 0.2s ease-in-out;
}
.high-strike .ipl-settings-icon:hover{
	background-color:#f77e3c;
	transition:all 0.2s ease-in-out;
}*/
.heading .active{
	background-color:#FFF;
}
.drop-icon{
	width: 18px;
	height: 18px;
	background-image: url(../Images/drop.png);
	background-repeat: no-repeat;
	display:inline-block;
	margin:3px 0 -4px 5px;
}


.ipl-stats-bottom{
	margin-top: 3px;
	margin-bottom:3px;
	height: 60px;
	background-color: #3757a8 ;
}

.ipl-stats-cell{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	height: 40px;
	float: left;
	display: block;
	text-align: right;
	border-right: solid 1px #929292;
	padding-right: 10px;
}

.ipl-stats-cell h5{
	color: #e1e1e1;
	text-align: right;
	text-transform: capitalize;
}

.ipl-stats-cell p{
	font-size: 24px;
	color: #e1e1e1;
	text-align: right;
}

.ipl-statscell-small{	width: 62px;}
.ipl-statscell3{ width: 151px;}
.ipl-statscell2{ width: 127px;}
.ipl-statscell1{ width: 70px;}


.ipl-stats-cell h4{
	font-size: 14px;
	color: #f4f4f4;
	text-align: right;
}

.ipl-statscelltitle{ background-color: #19398a; padding-bottom: 10px; padding-top: 10px; margin-top: 0px; }


/*Compare player*/

.com1{	background-color: #f4f4f4; border: solid 1px #ffffff; border-top: solid 10px #19398A;	text-align: center;margin-bottom: 10px; }

.com2{	background-color: #d2d2d2; border:solid 1px #c2c2c2; margin-bottom: 10px;}

.com3 table{	width: 100%;	border-collapse:collapse;	text-align: center;	color: #323232;}

.com3 tr{	border-bottom:2px solid #e6e6e6;	height:40px;}

.com3 td{	border-spacing: 0px;	width: 16.65%;		background-color: #383838;	font-size: 13px;}

.com3 tbody td{	background-color: #ffffff;}
.com3 thead td{	color: #ffffff;}

.com3 table, .com3 th, .com3 td{	border: 2px solid #e6e6e6;}

.com3 tbody td:nth-child(1)
{
	background-color: #f4f4f4 !important;
	color: #232323;
	text-align:left; 
	padding-left: 10px;	
}

.com3 thead td:nth-child(2){	background-color: #3f86f2 !important;}
.com3 thead td:nth-child(3){	background-color: #6db842 !important;}
.com3 thead td:nth-child(4){	background-color: #da6a45 !important;}
.com3 thead td:nth-child(5){	background-color: #974e97 !important;}
.com3 thead td:nth-child(6){	background-color: #34a7e0 !important;}

/*.com3 tbody td:nth-child(2){	background-color: #5392f3 !important;}
.com3 tbody td:nth-child(3){	background-color: #81c25e !important;}
.com3 tbody td:nth-child(4){	background-color: #fb8b66 !important;}
.com3 tbody td:nth-child(5){	background-color: #a367a3 !important;}
.com3 tbody td:nth-child(6){	background-color: #54bff3 !important;}
*/

.com1_sp1{
	margin: 10px;
}

.btn_cp{ clear: both;display: block;

}

.com2{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.com2_sbox{
	padding-left: 20px;
	margin: 10 auto;
	text-align: center;
}

.com2_btn{
	display: block;
	border-top: solid 1px #B1B1B1;
	margin-top: 10px;
}

.com2_btn button{

	margin-top: 10px;
	position: relative;
	margin-left: 	0px;
	
}

.com2 h4{
	padding-bottom: 10px;
}

.comblock{ display: block;}