@charset "utf-8";

/*-------------------------COMMON-----------------------------*/


/*-------------------------CAROUSEL---------------------------*/
.res-image  {
	width:100%;
	height:auto;
}

.carousel-caption h4 {
	font-family:Tahoma, Geneva, sans-serif;
	color:#EEE;
}

.carousel-caption p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
}
.borderl {
	border-left:solid 1px #ccc;
	margin-bottom:5px;
}

/*-----------------------LIVE SCORE----------------------------*/

/*-----------------------Tabs---------------------------------*/
.tabs-box {
	background: #f6f5f5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-8 */
border-bottom:solid 1px #b2aeae;
}
.tabs-box > .active > a,
.tabs-box > .active > a:hover {
	font-family: Tahoma, Geneva, sans-serif;
	color: #a82e0f;
	background: #e6e4e4; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e6e4e4 0%, #f6f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e4e4), color-stop(100%,#f6f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e6e4e4 0%,#f6f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e6e4e4 0%,#f6f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e6e4e4 0%,#f6f5f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e6e4e4 0%,#f6f5f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e4e4', endColorstr='#f6f5f5',GradientType=0 ); /* IE6-8 */
border-bottom: solid 3px #a82e0f;
border-radius:0px;
}

.tabs-box a {
	color:#565656;
}
.tabs-box a:hover {
	color:#a82e0f;
}

.tab-box-wrapper {
	border:solid 1px #b2aeae;
}
.tab-box-wrapper .tab-content{
	padding:10px;
}

.tabs-line {
	background-color:transparent;
}
.tabs-line > .active > a,
.tabs-line > .active > a:hover {
	background-color: transparent;
	border: none;
	border-bottom: solid 2px #a82e0f;
	font-family: "squareBT";
	font-size: 24px;
	color: #a82e0f;
	text-transform: uppercase;
}
.tabs-line a {
	color: #565656;
	font-family: "squareBT";
	font-size: 24px;
	background-color:transparent;
	text-transform: uppercase;
}
.tabs-line-left {
	background-color:transparent;
}
.tabs-line-left a {
	color: #565656;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}
.tabs-line-left > .active > a,
.tabs-line-left > .active > a:hover {
	background-color: transparent;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #a82e0f;
	border-top: solid 1px #c0bcbc;
	border-bottom: solid 1px #c0bcbc;
	border-left:none;
	border-right:none;
}

/*------------Results on the Right----------------*/

.white-block {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
	color: #454545;
	border:solid 1px #afafaf;
	border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
}

.white-block .heading {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
	color: #454545;
	padding:5px 10px;
	border-bottom:solid 1px #afafaf;

}
.white-block h4{
	font-family: Tahoma, Geneva, sans-serif;
	color: #a82e0f;
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
}
.white-block h5{
	font-family: Tahoma, Geneva, sans-serif;
	color: #a82e0f;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}
.white-block h6{
	font-family: Tahoma, Geneva, sans-serif;
	color: #343434;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
.white-block h2{
	color: #343434;
}
.white-block .content {
	min-height:20px;
	color: #454545;
	display:block;
	width:95%;
	text-align:left;
}
.white-block .content .date {
	display: inline-block;
	text-align: right;
	border-right: 1px solid #666;
	padding: 0 10px 0 0;
	width: 36px;
	overflow: hidden;
	font-size: 16px;
	color:#343434;
	float:left;
}
.white-block .red {
	color:#a82e0f;
}
.white-block .grey {
	color:#343434;
}
.white-block .content .match h4 {
	margin:0;
}
.white-block .content .match {
	display:inline-block;
	padding:0 0 0 10px;
	float:left;
	line-height:12px;
}
.white-block .content .match:after {
	clear:both;
}
.white-block .content .stats {
	width: 100%;
	border-top: solid 1px #c0c0c0;
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
.white-block .content .content-block {
	padding:5px;
	display:inline-block;
	float:left;
	margin-right:10px;
	box-shadow:none;
	background-color:transparent;
}
.white-block .content .content-block .red{
	margin:0 5px 0 15px;
}
.white-block .accordion-group {
	border-bottom:solid 1px #b2aeae;
	border-radius:0;
}
.white-block .accordion .accordion-group:last-child {
	border-bottom:none;
}
.white-block .accordion-heading {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
}
.white-block h1,.white-block h2,.white-block h3,.white-block h4,
.white-block h5,.white-block h6 {
	margin:5px 0 0 0;
}
/*-------------Image Grids---------------------------*/

.grid {
	width:96%;
	padding:0;
	display:block;
	height:auto;
}
.grid-item {
	width:165px;
	display:inline-block;
	padding:20px 0 0 15px;
}
.grid-item a img {
	width:100%;
	height:auto;
	border:solid 3px #ccc;
}
/*-----------LightBox-----*/
