@charset "utf-8";

/*-------------------------COMMON-----------------------------*/

.credits:after {
	content:"From yahoocricket.com";
	font-size:10px;
	color:#C30;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:none;
	margin-left:10px;
	top:-0.5em;
	line-height:25px;
}
.square-font {
	font-family: 'squareBTNormal','PT Sans Narrow', sans-serif;
	font-size:12px;
	font-weight:bold;
}
/*-------------------------CAROUSEL---------------------------*/
.res-image  {
	width:100%;
	height:auto;
}

.carousel-caption h4 {
	font-family:Tahoma, Geneva, sans-serif;
	color:#EEE;
}

.carousel-caption p {
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
}
.borderl {
	border-left:solid 1px #ccc;
	margin-bottom:5px;
}
.carousel .res-image{
	height:auto;
	width:100%;
}

/*-----------------------LIVE SCORE----------------------------*/

.matches-popout {
	width:49px;
	height:42px;
	margin:-20px -20px;
	background-image:url(../Images/list-popup_03.png);
}

/*-----------------------Tabs---------------------------------*/
.tabs-box {
	background: #717171; /* Old browsers */
background: -moz-linear-gradient(top,  #717171 0%, #383838 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717171), color-stop(100%,#383838)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #717171 0%,#383838 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #717171 0%,#383838 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #717171 0%,#383838 100%); /* IE10+ */
background: linear-gradient(to bottom,  #717171 0%,#383838 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
border-bottom:solid 1px #717171;
}
.tabs-box > .active > a,
.tabs-box > .active > a:hover {
	font-family: Tahoma, Geneva, sans-serif;
	color: #EEE;
	background: #545454; /* Old browsers */
background: -moz-linear-gradient(top,  #545454 0%, #717171 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#717171)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #545454 0%,#717171 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #545454 0%,#717171 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #545454 0%,#717171 100%); /* IE10+ */
background: linear-gradient(to bottom,  #545454 0%,#717171 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#717171',GradientType=0 ); /* IE6-9 */
border: solid 1px #717171;
border-bottom: 2px solid #717171;
border-radius:0px;
}

.tabs-box a {
	color:#ccc;
}
.tabs-box a:hover {
	color:#eee;
	background: #717171; /* Old browsers */
background: -moz-linear-gradient(top,  #717171 0%, #383838 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717171), color-stop(100%,#383838)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #717171 0%,#383838 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #717171 0%,#383838 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #717171 0%,#383838 100%); /* IE10+ */
background: linear-gradient(to bottom,  #717171 0%,#383838 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
border: solid 1px #717171;
border-radius: 0px;
border-color: #717171 !important;
border-bottom: 2px solid #717171;
}

.tab-box-wrapper {
	border:solid 1px #717171;
}
.tab-box-wrapper .tab-content{
	padding:10px;
}

.tabs-line {
	background-color:transparent;
}
.tabs-line > .active > a,
.tabs-line > .active > a:hover {
	background-color: transparent;
	border: none;
	border-bottom: solid 2px #a82e0f;
	font-family: "squareBT";
	font-size: 24px;
	color: #a82e0f;
	text-transform: uppercase;
}
.tabs-line a {
	color: #565656;
	font-family: "squareBT";
	font-size: 24px;
	background-color:transparent;
	text-transform: uppercase;
}
.tabs-line-left {
	background-color:transparent;
}
.tabs-line-left a {
	color: #565656;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}
.tabs-line-left > .active > a,
.tabs-line-left > .active > a:hover {
	background-color: transparent;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #a82e0f;
	border-top: solid 1px #c0bcbc;
	border-bottom: solid 1px #c0bcbc;
	border-left:none;
	border-right:none;
}

/*------------Results on the Right----------------*/
.select-dropdown {
	margin:-15px 0 -15px 60px !important;
}
.white-block {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
	color: #454545;
	border:solid 1px #afafaf;
	border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
}
.dark-block {
	background: #363636;
background: -moz-linear-gradient(top,  #363636 0%, #292929 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(100%,#292929));
background: -webkit-linear-gradient(top,  #363636 0%,#292929 100%);
background: -o-linear-gradient(top,  #363636 0%,#292929 100%);
background: -ms-linear-gradient(top,  #363636 0%,#292929 100%);
background: linear-gradient(to bottom,  #363636 0%,#292929 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#292929',GradientType=0 );
	color:#FFF;
	border:solid 1px #252525;
	cursor:pointer;
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
}
.dark-block:hover {
background: #191919;
background: -moz-linear-gradient(top,  #191919 0%, #282828 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191919), color-stop(100%,#282828));
background: -webkit-linear-gradient(top,  #191919 0%,#282828 100%);
background: -o-linear-gradient(top,  #191919 0%,#282828 100%);
background: -ms-linear-gradient(top,  #191919 0%,#282828 100%);
background: linear-gradient(to bottom,  #191919 0%,#282828 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#282828',GradientType=0 );
color:#FFF;
border:solid 1px #282828;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
}
.livescore-sidebar .active {
	background: #b32310; 
	background: -moz-linear-gradient(top,  #b32310 0%, #4c0707 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b32310), color-stop(100%,#4c0707)); 
	background: -webkit-linear-gradient(top,  #b32310 0%,#4c0707 100%); 
	background: -o-linear-gradient(top,  #b32310 0%,#4c0707 100%); 
	background: -ms-linear-gradient(top,  #b32310 0%,#4c0707 100%); 
	background: linear-gradient(to bottom,  #b32310 0%,#4c0707 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32310', endColorstr='#4c0707',GradientType=0 );
	color:#FFF;
	border:solid 1px #500808;
	box-shadow:none;
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
}
.livescore-sidebar .active .arrow {
	background-image: url(../Images/arrow.png);
	background-repeat: no-repeat;
	background-position: left top;
	width:14px;
	height:56px;
	margin-left:-14px;
	float:left;
	z-index:10000;
		transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.white-block .heading {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
	color: #454545;
	padding:0 0;
	border-bottom:solid 1px #afafaf;
}
.white-block .heading h4 {
	margin:15px 10px;
}
.white-block h4{
	font-family: Tahoma, Geneva, sans-serif;
	color: #a82e0f;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}
.white-block h5{
	font-family: Tahoma, Geneva, sans-serif;
	color: #a82e0f;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}
.white-block h6{
	font-family: Tahoma, Geneva, sans-serif;
	color: #343434;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
}
.white-block h2{
	color: #343434;
}
.white-block h3 {
	line-height:24px;
}
.white-block .content {
	min-height:20px;
	color: #454545;
	display:block;
	width:95%;
	text-align:left;
}
.white-block .content .date {
	display: inline-block;
	text-align: right;
	border-right: 1px solid #666;
	padding: 0 10px 0 0;
	width: 20%;
	overflow: hidden;
	font-size: 14px;
	color:#343434;
	float:left;
}

.red, .red:hover {
	color:#a82e0f;
	text-decoration:none;
}

.white-block .grey {
	color:#343434;
}
.white-block .content .match h4 {
	margin:0;
}
.white-block .content .match {
	display:inline-block;
	padding:0 0 0 10px;
	float:left;
	line-height:16px;
	width:72%;
}
.white-block .content .match:after {
	clear:both;
}
.white-block .content .stats {
	width: 100%;
	border-top: solid 1px #c0c0c0;
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
.white-block .content .content-block {
	padding:5px;
	display:inline-block;
	float:left;
	margin-right:10px;
	box-shadow:none;
	background-color:transparent;
}
.white-block .content .content-block .red{
	margin:0 5px 0 15px;
}
.white-block .accordion-group {
	border-bottom:solid 1px #b2aeae;
	border-radius:0;
}
.white-block .accordion .accordion-group:last-child {
	border-bottom:none;
}
.white-block .accordion-heading {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
}
.white-block h1,.white-block h2,.white-block h3,.white-block h4,
.white-block h5,.white-block h6 {
	margin:5px 0 0 0;
}
.white-block .heading h4 .list-box {
	width:49px;
	height:42px;
	margin:-32px -10px;
	background-image:url(../Images/results-list_03.png);
}


/*-------------Image Grids---------------------------*/

.grid {
	width:96%;
	padding:0;
	display:block;
	height:auto;
}
.grid-item {
	width:215px;
	display:inline-block;
	padding:20px 0 0 15px;
}
.grid-item a img {
	width:100%;
	height:auto;
	border:solid 3px #ccc;
}
/*-----------LightBox-----*/

/*----------NEWS TABS-------*/

.news-thumb img {
	width:180px;
	height:auto;
	float:left;
	margin-right:15px;
	margin-bottom:0px;
}

.news-thumb .btn-primary {
	color:#FFF;
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
	font-size:14px;
	margin:15px;
}
.news-thumb h4,.news-thumb-small h4 {
	font-size:17px;
	color:#a82e0f;
	line-height:17px;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:none;
}
.news-thumb h5 {
	margin-left:0;
	padding-left:0;
}
.news-thumb h6,.news-thumb-small h6 {
	font-size:13px;
	color:#383838;
		line-height:14px;
	font-family:Tahoma, Geneva, sans-serif;
	text-transform:none;
	margin-top:5px;

}
.news-thumb-small img {
	width:75px;
	height:auto;
	float:left;
	margin-right:5px;
	margin-bottom:0px;
}
.news-thumb-small {
	border-bottom:dotted 1px #999;
	padding:10px 5px 5px 5px;
	margin:0 15px 0 0;
}

<!--------Rankings & Records ---------------->
.flag {
	padding-right:10px;
}
.rank-box {
		width:62px;
	text-align:center;
	padding-right:10px;
}
.flag img {
	width:58px;
	height:38px;
}
 .rankings h4 {
	 color:#444;
	 font-family:squareBT;
	 font-size:15px;
	 text-transform:uppercase;
	 font-weight:600;
}
.rankings ul li:last-child {
		border:solid 1px #afafaf;
	border-bottom-radius:3px;
}
.rankings ul li:first-child {
		border-top:solid 1px #afafaf;
		border-radius:3px;
}
.rankings ul li {
		border-bottom:none;
		border-radius:0px;
	}
/*--------------Hover FX----------------*/

/*--------------Live Score--------------*/

.yellow {
	color:#ffd942;
}
.yellow-dull {
	color:#ddd2a6
}
.yellow-dull:hover{
	color:#ddd2a6;
	text-decoration:underline;
}
.white {
	color:#FFF;
}
.yellow, .white {
		text-shadow:0 1px 3px rgba(0,0,0,0.4);

}
.livescore_bg {


}
.livescore_bg_red{
	background: #b32310; /* Old browsers */
background: -moz-linear-gradient(top,  #b32310 0%, #4c0707 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b32310), color-stop(100%,#4c0707)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b32310 0%,#4c0707 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b32310 0%,#4c0707 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b32310 0%,#4c0707 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b32310 0%,#4c0707 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32310', endColorstr='#4c0707',GradientType=0 ); /* IE6-9 */
color:#FFF;
box-shadow:inset 0 0 0 4px rgba(0,0,0,0.45),
					 inset 1px 1px 16px 0 rgba(0,0,0,0.8);
					 text-shadow:0px 1px 3px rgba(0,0,0,0.4);
					 height:455px;
}

.livescore_bg_white{
background: #ececec;
background: -moz-linear-gradient(top,  #ececec 0%, #dbdbdb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dbdbdb));
background: -webkit-linear-gradient(top,  #ececec 0%,#dbdbdb 100%);
background: -o-linear-gradient(top,  #ececec 0%,#dbdbdb 100%);
background: -ms-linear-gradient(top,  #ececec 0%,#dbdbdb 100%);
background: linear-gradient(to bottom,  #ececec 0%,#dbdbdb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 );
border:1px solid #AAA;
color:#4d4d4d;
border-bottom:1px solid #b12310;

}
.livescore_bg .team_name {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	line-height:14px;
}
.livescore_bg_red .team_icon1,.livescore_bg_red .team_icon2,.livescore_bg_red #def_team_icon1,.livescore_bg_red #def_team_icon2 {
	border-radius:50%;
	background: #a7200f;
background: -moz-linear-gradient(top,  #a7200f 0%, #8a180d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7200f), color-stop(100%,#8a180d));
background: -webkit-linear-gradient(top,  #a7200f 0%,#8a180d 100%);
background: -o-linear-gradient(top,  #a7200f 0%,#8a180d 100%);
background: -ms-linear-gradient(top,  #a7200f 0%,#8a180d 100%);
background: linear-gradient(to bottom,  #a7200f 0%,#8a180d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7200f', endColorstr='#8a180d',GradientType=0 );
border:solid 3px #a8200f;
padding:5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.5),
						inset 0px 0px 8px rgba(0,0,0,0.3);
width:72px;
height:72px;
margin:0 auto;
text-align:center;
}
.livescore_bg_white .team_icon1,.livescore_bg_white .team_icon2 {
	border-radius:50%;
	background: #ececec;
background: -moz-linear-gradient(top,  #ececec 0%, #dbdbdb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#dbdbdb));
background: -webkit-linear-gradient(top,  #ececec 0%,#dbdbdb 100%);
background: -o-linear-gradient(top,  #ececec 0%,#dbdbdb 100%);
background: -ms-linear-gradient(top,  #ececec 0%,#dbdbdb 100%);
background: linear-gradient(to bottom,  #ececec 0%,#dbdbdb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=0 );
color:#4d4d4d;
padding:5px;
box-shadow: 0 2px 4px rgba(0,0,0,0.5),
						inset 0px 0px 8px rgba(0,0,0,0.3);
width:72px;
height:72px;
margin:0 auto;
text-align:center;
}
.team1_image,.team2_image {
	margin:4px 0 0 4px;
}
	
.livescore_bg .team_icon img {
	width:68px;
	height:68px;
	margin-top:2px;
}
.livescore_bg h6 {
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	margin:0 0 5px 0;
}
.livescore_bg h3,.livescore_bg h4, .livescore_bg h5, .livescore_bg h6 {
	line-height:12px;
	margin-top:8px;
	margin-bottom:5px;
}
.livescore_bg h5 {
	font-size:18px;
	color:#FFF;
	font-family:"squareBT";
	font-weight:normal;
}
.livescore_bg h6 {
	font-size:15px;
	color:#F93;
	font-family:"squareBT";
	font-weight:normal;
	text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
.small-menu .dropdown-menu {
	min-width:50px;
	}
.pagination ul li .active{
background: #8e140b; /* Old browsers */
	background: -moz-linear-gradient(top,  #8e140b 0%, #cc5115 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e140b), color-stop(100%,#cc5115)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8e140b 0%,#cc5115 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8e140b 0%,#cc5115 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8e140b 0%,#cc5115 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8e140b 0%,#cc5115 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e140b', endColorstr='#cc5115',GradientType=0 ); /* IE6-9 */
	color:#fff;
}
.menu.active{
background: linear-gradient(to bottom, #8E140B 0%, #CC5115 100%) 
}

.livescore_bg .well {
	margin:5px;
	padding:5px;
	border:1px solid #2d2d2d;
	background: #5e5e5e;
background: -moz-linear-gradient(top,  #5e5e5e 0%, #141414 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#141414));
background: -webkit-linear-gradient(top,  #5e5e5e 0%,#141414 100%);
background: -o-linear-gradient(top,  #5e5e5e 0%,#141414 100%);
background: -ms-linear-gradient(top,  #5e5e5e 0%,#141414 100%);
background: linear-gradient(to bottom,  #5e5e5e 0%,#141414 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#141414',GradientType=0 );
	color:#FFF;
}
.livescore_bg h3,.livescore_bg h4,.livescore_bg h5,.livescore_bg h6 {
	margin:5px;
	padding:0px;
}
.livescore_bg h6 {
	font-size:13px;
}
.livescore_bg h5 {
	font-size:16px;
	line-height:18px;
}
.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}
align-right {
	text-align:right;
}
.dot-line {
	width:100%;
	height:1px;
	border-bottom:1px dotted rgba(255,255,255,0.5);
	margin:2px 0;
}
.small-text {
	font-size:11px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.livescore-sidebar {
	height:485px;
	overflow:visible;
	background-color:#333;
	border-left:solid 3px #444;
}
.chat {
	position: fixed;
	right: 0%;
	bottom: 76px;
}
#chat_window{
    width:250px;
}

#chat_title_bar{
    height: 25px;
    width: 100%;
}
/*#chat_minimize{
    float:right;
    cursor:pointer;
}*/
#chat_box{
    height: 360px;
    background: #DFDFDF;
}
.chat_title_bar {
	text-align: center;
	background: #b32310; /* Old browsers */
background: -moz-linear-gradient(top,  #b32310 0%, #4c0707 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b32310), color-stop(100%,#4c0707)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b32310 0%,#4c0707 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b32310 0%,#4c0707 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b32310 0%,#4c0707 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b32310 0%,#4c0707 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32310', endColorstr='#4c0707',GradientType=0 ); /* IE6-9 */
color:#FFF;
font-size: 12px;
font-weight: bold;
}

@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #d43c0d, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #d43c0d, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}


.pulsate {
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
	-moz-animation: pulsate 1.2s linear infinite;
}
.pulsate:hover {
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
}

.table-simple th {
	background: #cc5115; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc5115 0%, #8e140b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc5115), color-stop(100%,#8e140b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cc5115 0%,#8e140b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cc5115 0%,#8e140b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cc5115 0%,#8e140b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cc5115 0%,#8e140b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5115', endColorstr='#8e140b',GradientType=0 ); /* IE6-9 */
	text-shadow:1px 1px 5px rgba(0,0,0,0.4);
	color:#FFF;
	text-align:center;
	vertical-align:middle;
}
.table-simple td {
	text-align:center;
	vertical-align:middle;
}
.table-simple td img {
	width:32px;
	height:32px;
	margin-right:10px;
}
.orange {
	background:#F60;
	color:#FFF;
	text-shadow:1px 1px 5px rgba(0,0,0,0.4);
}
.ipl-points-display {
	position:absolute;
	width:100px;
	height:50px;
	background:#333;
	margin:-60px 0 0 150px;
	padding:5px;
}
.ipl-points-display h4 {
	color:#FFF;
	margin:5px;
}
.ipl-points-display h5 {
	color:#FFF;
	margin:5px;
}
.dark-grey-bg {
	background:#333;
	border-bottom:3px solid #fff;
	color:#CCC;
}
.dark-grey-bg h4,.dark-grey-bg h5 {
		color:#FFF;
	margin:5px 0 0 5px;
}
.dark-grey-bg h2 {
	color:#BBB;
	margin:20px 5px 5px 5px;
}
.W {
	width:6px !important;
	height:6px !important;
	background-color:#690;
	border:1px solid #693;
	margin:5px;
	float:left;
}
.L {
	width:6px !important;
	height:6px !important;
	background-color:#F00;
	border:1px solid #C30;
	margin:5px;
	float:left;
}
.NR {
	width:6px !important;
	height:6px !important;
	background-color:#FF0;
	border:1px solid #F90;
	margin:5px;
	float:left;
}
/*========= New classes for livescore and popout ====*/
.static-bottom-container {
	position:fixed;
	bottom:0%;
	width:92%;
	height:76px;
	overflow:visible;
	z-index:1000;
}
.static-bottom-bg {
	background: #f6f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#e6e4e4',GradientType=0 ); /* IE6-9 */
	color: #454545;
	border:solid 1px #808080;
	border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

.ls-popout-button {
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	width:76px;
	height:78px;
	position:fixed;
	bottom:0%;
	right:76px;
	cursor:pointer;
	z-index:1010;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.chat-button {
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	width:76px;
	height:78px;
	position:fixed;
	bottom:0%;
	right:0%;
	cursor:pointer;
	z-index:1010;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

.block-container {
    margin:0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.block-container:after,
.block-container:before {
    content: '';
    display: table;
}
 
.block-container:after {
    clear: both;
}


.block-container .block-cell01 {
    width: 95%;
    display: inline-block;
    margin:0 5px;
		border-right:1px solid #999;
}
.block-container .block-cell02 {
    width: 4%;
    display: inline-block;
    margin:0;
		border-right:1px solid #999;
}

.block-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.block-container .prev, .block-container .next {
	x-background-image: url(../Images/prev.png);
	x-background-repeat: no-repeat;
	x-background-position: left center;	
	width:16px;
	height:75px;
}
.block-container .prev {
	margin-left:10px;
}
.block-container .next {
	margin-right:10px;
}

.frame {
	height: 186px;
	line-height: 250px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.frame ul li {
	float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;
}
.dark-grey {
	color:#333 !important;
}
.slides li {
	cursor:pointer;
}
.static-toggle {
	width:320px;
	height:480px;
	bottom:78px;
	position:fixed;
	left:-350px;
	z-index:2020;
	/*background: #f6f5f5;
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #e6e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(100%,#e6e4e4));
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%);
	background: -o-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); 
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#e6e4e4 100%); 
	background: linear-gradient(to bottom,  #f6f5f5 0%,#e6e4e4 100%);
	color: #454545;
	border:solid 1px #808080;
	border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.4);*/
}
.vline {
	min-height:85px;
	float:left;
	height:auto;
	margin-left:-1px;
	border-right:solid 1px #FF6600;
}
.ls_close {
	width: 28px;
	height: 28px;
	background-image: url(../Images/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor:pointer;
	margin-top:-25px;
	margin-right:-1px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.35);
}
.ls_default {
	cursor:pointer;
	margin-top:-25px;
	background:#ececec ;
	padding:2px;
	border:solid 1px #AAA;
	border-bottom:none;
}
.ls-nav-left,.ls-nav-right {
	margin-top:-50px;
	width:40px;
	height:40px;
	background-image:url(../Images/ls_direction_nav_small.png);
	opacity:0.4;
	-webkit-transition:all ease-in-out 0.3s;
}
.livescore_bg:hover .ls-nav-left,.livescore_bg:hover .ls-nav-right {
	opacity:0.9;
	-webkit-transition:all ease-in-out 0.3s;
}
.ls-nav-left{
	margin-left:-15px;
}
.ls-nav-right{
	margin-right:-10px;
	background-position:40px 0;
}
.slides li h5{
	margin:0;
}
.h-seperator {
	border-top:1px solid rgba(255,255,255,0.5);
	padding:10px 0;
}
/*-------------Livescore Grids---------------------------*/

.grid {
	width:100%;
	padding:0;
	display:block;
	height:auto;
}
.grid li {
	width:164px;
	display:inline-block;
	border-right:1px solid #999;
	padding:10px;
	cursor:pointer;
}
.grid li h5{
	margin:0;
	text-align:left;
	padding-left:0;
	width:100%;
	border-bottom:1px solid #AAA;
}
.grid li p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	margin:5px;
	padding:0;
	line-height:12px;
}
 
.grid li:first-child {
	border-left:1px solid #AAA;
}
.grid li:hover, .grid .active {
background: #dddddd;
background: -moz-linear-gradient(top,  #dddddd 0%, #f7f7f7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#f7f7f7));
background: -webkit-linear-gradient(top,  #dddddd 0%,#f7f7f7 100%);
background: -o-linear-gradient(top,  #dddddd 0%,#f7f7f7 100%);
background: -ms-linear-gradient(top,  #dddddd 0%,#f7f7f7 100%);
background: linear-gradient(to bottom,  #dddddd 0%,#f7f7f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f7f7f7',GradientType=0 );
box-shadow:inset 0px 0px 3px rgba(0,0,0,0.5);
}
#def_team1_image,#def_team2_image {
	margin:4px;
}
.table th, .table td {
	text-align:center !important;
}