@charset "utf-8";
/* CSS Document */

.cflag_AFG{ background-position: 0 0 !important; width: 38px; height: 38px ; } 
.cflag_ARG{ background-position: 0 -63px !important; width: 38px; height: 38px; } 
.cflag_AUC{ background-position: 0 -126px !important; width: 38px; height: 38px; } 
.cflag_AUS{ background-position: 0 -189px !important; width: 38px; height: 38px; } 
.cflag_BAN{ background-position: 0 -252px !important; width: 38px; height: 38px; } 
.cflag_BER{ background-position: 0 -315px !important; width: 38px; height: 38px; } 
.cflag_CAN{ background-position: 0 -378px !important; width: 38px; height: 38px; } 
.cflag_EA{ background-position: 0 -441px !important; width: 38px; height: 38px; } 
.cflag_ENG{ background-position: 0 -504px !important; width: 38px; height: 38px; } 
.cflag_HAM{ background-position: 0 -567px !important; width: 38px; height: 38px; } 
.cflag_HK{ background-position: 0 -630px !important; width: 38px; height: 38px; } 
.cflag_IND{ background-position: 0 -693px !important; width: 38px; height: 38px; } 
.cflag_IRE{ background-position: 0 -756px !important; width: 38px; height: 38px; } 
.cflag_KEN{ background-position: 0 -819px !important; width: 38px; height: 38px; } 
.cflag_NAM{ background-position: 0 -882px !important; width: 38px; height: 38px; } 
.cflag_NET{ background-position: 0 -945px !important; width: 38px; height: 38px; } 
.cflag_NZ{ background-position: 0 -1008px !important; width: 38px; height: 38px; } 
.cflag_PAK{ background-position: 0 -1071px !important; width: 38px; height: 38px; } 
.cflag_SA{ background-position: 0 -1134px !important; width: 38px; height: 38px; } 
.cflag_SL{ background-position: 0 -1197px !important; width: 38px; height: 38px; } 
.cflag_WI{ background-position: 0 -1260px !important; width: 38px; height: 38px; } 
.cflag_ZIM{ background-position: 0 -1323px !important; width: 38px; height: 38px; } 


.cflag_AFG,.cflag_ARG,.cflag_AUC,.cflag_AUS,.cflag_BAN,.cflag_BER,
.cflag_CAN,.cflag_EA,.cflag_ENG,.cflag_HAM,.cflag_HK,.cflag_IND,
.cflag_IRE,.cflag_KEN,.cflag_NAM,.cflag_NET,.cflag_NZ,.cflag_PAK,
.cflag_SA,.cflag_SL,.cflag_WI,.cflag_ZIM {
	background: url("../Images/flags.png") no-repeat;
	margin-left:10px;
}
