@charset "utf-8";
/* CSS Document */

.flag_AFG{ background: url(../Images/flags/AFG.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_ARG{ background: url(../Images/flags/ARG.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_AUS{ background: url(../Images/flags/AUS.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_BAN{ background: url(../Images/flags/BAN.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_CAN{ background: url(../Images/flags/CAN.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_CSK{ background: url(../Images/flags/CSK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_DC{ background: url(../Images/flags/DC.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_DDD{ background: url(../Images/flags/DDD.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_ENG{ background: url(../Images/flags/ENG.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_HK{ background: url(../Images/flags/HK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_IND{ background: url(../Images/flags/IND.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_IRE{ background: url(../Images/flags/IRE.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KEN{ background: url(../Images/flags/KEN.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KKR{ background: url(../Images/flags/KKR.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KTK{ background: url(../Images/flags/KTK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KXP{ background: url(../Images/flags/KXP.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_MI{ background: url(../Images/flags/MI.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_NAM{ background: url(../Images/flags/NAM.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_NZ{ background: url(../Images/flags/NZ.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_PAK{ background: url(../Images/flags/PAK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_PW{ background: url(../Images/flags/PW.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_RC{ background: url(../Images/flags/RC.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_RR{ background: url(../Images/flags/RR.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_RSA{ background: url(../Images/flags/RSA.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_SCO{ background: url(../Images/flags/SCO.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_SL{ background: url(../Images/flags/SL.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_SUR{ background: url(../Images/flags/SUR.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_WI{ background: url(../Images/flags/WI.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_ZIM{ background: url(../Images/flags/ZIM.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_NED{ background: url(../Images/flags/NED.png)  no-repeat top left; width: 68px; height: 68px; } 


.flag_AFGW{ background: url(../Images/flags/AFG.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_ARGW{ background: url(../Images/flags/ARG.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_AUSW{ background: url(../Images/flags/AUS.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_BANW{ background: url(../Images/flags/BAN.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_CANW{ background: url(../Images/flags/CAN.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_CSKW{ background: url(../Images/flags/CSK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_DCW{ background: url(../Images/flags/DC.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_DDDW{ background: url(../Images/flags/DDD.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_ENGW{ background: url(../Images/flags/ENG.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_HKW{ background: url(../Images/flags/HK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_INDW{ background: url(../Images/flags/IND.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_IREW{ background: url(../Images/flags/IRE.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KENW{ background: url(../Images/flags/KEN.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KKRW{ background: url(../Images/flags/KKR.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KTKW{ background: url(../Images/flags/KTK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_KXPW{ background: url(../Images/flags/KXP.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_MIW{ background: url(../Images/flags/MI.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_NAMW{ background: url(../Images/flags/NAM.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_NZW{ background: url(../Images/flags/NZ.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_PAKW{ background: url(../Images/flags/PAK.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_PWW{ background: url(../Images/flags/PW.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_RCW{ background: url(../Images/flags/RC.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_RRW{ background: url(../Images/flags/RR.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_RSAW{ background: url(../Images/flags/RSA.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_SCOW{ background: url(../Images/flags/SCO.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_SLW{ background: url(../Images/flags/SL.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_SURW{ background: url(../Images/flags/SUR.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_WIW{ background: url(../Images/flags/WI.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_ZIMW{ background: url(../Images/flags/ZIM.png)  no-repeat top left; width: 68px; height: 68px; } 
.flag_NEDW{ background: url(../Images/flags/NED.png)  no-repeat top left; width: 68px; height: 68px; } 

/* Small Flags */

.team_icon .flag {
		margin:4px;
}
